


.nav-bar {
  display: flex;
  justify-content: flex-end;
  height: 65px;
  /* flex-wrap: wrap ; */

}
nav i.logo {
  
  font-size: 35px;
  left: 40px;
  position: absolute;
  /* color: lightskyblue;
  border-bottom: solid 2px violet;  */
}

.logo-img {
  width: 100px;
  height: 100px;
}

/* .zion {
  border: violet 1px solid;
  padding: 0 2px;
} */

.main-img {
  width: 100vw;
  height: 100vh;
}

a .link-item {
  
  margin: 35px;
  border-right: 1px violet solid;
  padding: 10px;
  height: 10px;
  color: black;

}

a .link-item:hover {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.single-event {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.all-events {
  
  display: flex;
  justify-content: space-evenly;
  width: 960px;
  flex-wrap: wrap;
  margin: 30px 15px;

}
img {
  width: 250px;
  height: 150px;
  box-shadow: 10px 10px 5px #ccc;
  margin: 15px;
}

.single-img {
  height: 300px;
  width: 400px;
}

.event-img {
  border-radius: 9px;
}

.event-img:hover {
  box-shadow: 5px 6px 6px 5px #ccc
}

.title {
  text-align: center;
  color: #3964f5;

}

.form-title {
  text-align: center;
  color: #3964f5;
  font-weight: 900;
  font-family: 'Gruppo', cursive;
}

.courses {
  border: gray 2px solid;
  margin: 20px;
  width: 500px;
  height: 130px;
  padding-left: 15px;
  
}

.course {
  border: gray 2px solid;
  padding-bottom: 40px;
  margin: 20px;
  width: 400px;
  height: 130px;
  padding-left: 15px;
}



.course-name {
  
  font-size: 22px;
  border: 1px solid #3964f5;
  margin: 10px;
  width: 150px;
  text-align: center;
  border-radius: 6px;
  
}

.single-course-name{
  font-size: 22px;
  border: 1px solid #3964f5;
  margin: 10px;
  width: 150px;
  text-align: center;
  border-radius: 6px;
}

.course-name:hover{
  background-color: #3964f5;
  color: #fff;
}



.courses-detail{
  color: #242424;
  font-size: 18px;
  margin-bottom: 5px;
}

.course-btn {
  color: white;
  padding: 7px 15px;
  background-color: #3964f5;
  border-radius: 5px;
  width: 60px;
  right: 30px;
  
}

.course-btn:hover{
  padding: 10px;
}

.event-description {
  line-height: 1.5rem;
}

.event-date {
  margin-bottom: 10px;
}

.event-place {
  margin-bottom: 10px;
}

.event-cost {
  margin: 5px 0;
}

.enroll-form {
  
  padding: 20px 40px 30px 20px;
  background-color: #dbf7fa;
  margin-top: 20px;
}

.input {
  margin: 10px 0px 10px 20px ;
  padding: 10px 30px;
  font-size: 16px;
  border: none;
}

.name-input {
  margin: 10px 0px 10px 20px ;
  padding: 10px 30px;
  font-size: 16px;
  width: 418px;
  border: none;
}

.address-input {
  margin: 10px 0px 10px 20px ;
  padding: 10px 30px;
  font-size: 16px;
  width: 418px;
  border: none;
}

.city-input {
  margin: 10px 0px 10px 20px ;
  padding: 10px 30px;
  font-size: 16px;
  width: 420px;
  border: none;
}

/* .v-header {
  height: 500px;
  width: 100vw;

}

.fullscreean-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
 
}

.fullscreean-video-wrap video {
  min-width: 100vh;
  min-height: 100vh;

}

.header-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #225470;
  z-index: 1;
  opacity: 0.7;
}
 */
.submit-btn {
  background-color: #3964f5;
  width: 315px;
  padding: 12px 20px;
  font-size: 20px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.submit-btn:hover {
  padding: 15px 25px;
  
}
.maintitle {
  font-size: 30px;
  text-align: center;
  color: #1cd2e3;
  font-weight: bold;
  padding: 10px;
  font-family: 'Gruppo', cursive;
  
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1ab1c4; */
  background: url('https://images.unsplash.com/photo-1555935288-ad7bad5d006b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60') no-repeat 0 -300px;
  background-size: cover;
  opacity: 0.5;
  width: 100vw;
  height: 460px;
  /* margin-bottom: -200px; */
}


.showcase-text {
  /* 
  font-family: sans-serif;
  align-items: center;
  margin-top: 40px;
  width: 700px;
  line-height: 1.5rem; */
  font-size: 45px;
  color: white;
  font-family: 'Playball', cursive;
}

.qout {
  text-align: center;
  color: white;
  font-size: 22px;
  
}

.main-body {
  background-color: #edfafd;
  width: 100vw;
  height: 550px;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

}


.about-p {
  margin: 0 auto;
  width: 600px;
  line-height: 1.5rem;
}

.footer {
  width: 100vw;
  height: 300px;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

/* .payment-container {
  background-color: #1ab1c4;
  
  position: absolute;
  margin-top: 85px;
  right: 80px;
  border: 1px solid white;
  height: 400px;
  width: 360px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
} */

.payment-container {
  display: flex;
  justify-content: center;
  

}

.donation {
  /* color: white;
  background-color:#2ec89c;
  border-radius: 7px;
  font-size: 35px;
  margin-bottom: 25px;
  padding: 5px; */
  margin: 30px;
  font-size: 30px;
  background-color: #3964f5;
  color: #fff;
  padding: 7px;
  border-radius: 7px;
}

.memb-payment {
  /* color: white;
  background-color:#2ec89c;
  font-size: 35px;
   */
  margin: 30px;
  font-size: 30px;
  background-color: #3964f5;
  color: #fff;
  padding: 7px;
  border-radius: 7px;

}

.sections {
  width: 350px;
  margin: 0 0 35px 20px;
}

.contact-info-title {
  color: #3964f5;
}

.contact-info {
  color: gray;
  font-size: 18px;
  line-height: 2rem;
  
}

.important-sites {
  line-height: 2rem;
  font-size: 17px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}



.important-sites:hover {
  color: #3964f5;
 
}



.input[type=submit] {
  height: 40px;
  padding: 12px 20px;
}

.copy-right {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #7eadee;
  color: #fff;
}

.copy-right-p {
  padding: 10px;
  margin: 5px;
  font-size: 18px;
}

.service-verse {
  display: flex;
  justify-content: center;
  
}

.weloming-verse {
  font-size: 25px;
  width: 600px;
  text-align: center;
  color: #3964f5;
  line-height: 2rem;
  font-family: 'Playball', cursive;
}

.service-page {
  background-color: #edfafd;
  width: 100vw;
  height: 100vh;
  
}

.sevice-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
}

.sunday-services {
   margin: 30px;
   padding: 12px 30px;
   border: 1px solid lightblue;
   border-radius: 8px;
   background-color: #7eadee;
   color: #fff;
   box-shadow: 5px 10px #ccc;
   line-height: 1.5rem;
   
}

.service-title {
  text-align: center;

}

.services, .service-time {
  padding: 6px;
  text-align: center;
  font-size: 18px;
}

.saturday-services {
  margin: 30px;
  padding: 12px 20px;
  border: 1px solid lightblue;
  border-radius: 8px;
  min-height: 400px;
  background-color: #7eadee;
  color: #fff;
  box-shadow: 5px 10px #ccc;
  line-height: 1.5rem;
 
}

.other-services {
  margin: 30px;
  padding: 12px 20px;
  border: 1px solid lightblue;
  border-radius: 8px;
  background-color: #7eadee;
  color: #fff;
  box-shadow: 5px 10px #ccc;
  line-height: 1.5rem;
}

.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
  border: 2px solid #7eadee;
  width: 370px;
  height: 200px;
  padding: 10px 30px;

}

.success-msg {
  color: #26de81;
  font-size: 23px;
  margin-top: -50px;
}

.cancel-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
  border: 2px solid #7eadee;
  width: 370px;
  height: 220px;
  padding: 10px 30px;

}

.cancel-msg {
  color: #26de81;
  font-size: 23px;
  margin-top: -50px;
  text-align: center;
}

.r-home-page {
  margin-top: 40px;
  background-color: #7eadee;
  padding: 12px 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #3964f5;
}

.r-home-page:hover {
  background-color: #fff;
  color: #3964f5;
}



@media(max-width: 800px){
  .showcase{
    background: url('https://images.unsplash.com/photo-1555935288-ad7bad5d006b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60') no-repeat;
    height: 400px;
  }
}



@media(max-width: 500px){
  a .link-item{
    /* border-right: none; */
    margin-top: 30px;
    flex-direction: column;
    margin: 10px;
  
  }
}

@media(max-width: 500px){
  nav i.logo {
    display: none;
   }
}

@media(max-width: 500px){
  .showcase{
    background: url('https://images.unsplash.com/photo-1555935288-ad7bad5d006b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60') no-repeat;
    height: 400px;
  }
}

@media(max-width: 500px){
  .showcase-text {
    font-size: 30px;
    text-align: center;
  }
}

@media(max-width: 500px){
  .main-body{
    height: 750px;
  }
}

@media(max-width: 500px){
  .payment-container{
    flex-direction: column;
    text-align: center;
  }
}

@media(max-width: 500px){
  .about-p{
    width: 380px;
  }
}

@media(max-width: 500px){
  .footer-container{
    margin-top: 30px;
  }
}

@media(max-width: 500px){
  .weloming-verse{
    width: 400px;
  }
}

@media(max-width: 500px){
  .single-img{
    width: 300px;
    height: 200px;
    margin-left: 100px;
  }
}

@media(max-width: 500px){
  .event-description{
    width: 300px;
    margin-left: 100px;
    line-height: 1.8rem;
  }
}

@media(max-width: 500px){
  .event-type,
  .event-date,
  .event-place,
  .event-cost,
  .course-btn
  {
    margin: 10px 10px 10px 100px;
  }
}

@media(max-width: 500px){
  .enroll-form{
    width: 350px;
   }
}

@media(max-width: 500px){
  .name-input,
  .address-input,
  .city-input,
  .input{
    width: 250px;
   }
}

@media(max-width: 500px){
  .submit-btn{
    margin-left: 25px;
   }
}

@media(max-width: 500px){
  .courses,
  .course{
    width: 350px;
   }
}














